<!DOCTYPE html>
{% extends "base_menu.html" %}

{% block content %}

<html>
<head>
<style>
  .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }

</style>

  <div id ="container1" style = "width: 100%">
    <div id = "top_line", class="col-6 text-left", style = "width:100%">
      <div id="right", style= "float: right; width: 30%; height: 80px; text-align: right;">
        {% if user.is_authenticated %}
        <p class="pt-3">Logged in as <strong>{{ user.username }}</strong>. <a href="{% url 'logout' %}">Log out</a>.</p>
        {% else %}
            <a href="{% url 'login' %}?next={% url 'home' %}" class="btn btn-light" role="button">Log in</a>
            
            <!-- <a href="{% url 'coach:register' %}" class="btn btn-primary" role="button">Sign up</a>
            -->
          {% endif %}
      </div>
      
      <div id = "left", style="float: left; width: 70%;">
        <h1 id='h', style="margin-top: 1px;"> Welcome To TheBoatShed </h1>
        <p> Write some useful stuff</p>
      </div>
    </div>
  </div>

  <div class = "container2" style = "width:100%; text-align: center;">
    <div id ="left" style = "float:left; width: 25%;">
        <h2>Vbox Data Tool</h2>
    </div>
    <div id = "middle" style = "float:left; width: 50%;">
      <h2>Athlete Data Tracking</h2>
    </div>
    <div id = "right" style = "float:left; width: 25%;">
      <h2>Coaching Corner</h2>
    </div>
</div>

  
    {% endblock content %}