{% extends 'demo_base.html' %}
<!DOCTYPE html>

    {% load crispy_forms_tags %}
    {% block content %}
    <!-- Page content-->
    <section>

        <div class="container px-5 my-5" >
            <h1 style="width: 1000px">{{ athlete.username }}</h1>
        </div>
    </section>
    <section>
        <div class="container px-5 my-5">
            <ul>
                <li>Coach - {{athlete.coach}}  </li>
                <li>D.O.B - {{ athlete.date_of_birth }} </li>
                <li>Team -  


            </ul>

        </div>

    </section>
    


    {% endblock %}