{% extends 'demo_base.html' %}
<!DOCTYPE html>

    {% load crispy_forms_tags %}
    {% block content %}
    <!-- Page content-->
    <section  class="py-5">
        <div  class="container px-5">
            <!-- Contact form-->
            <div class="bg-dark rounded-3 py-5 px-4 px-md-5 mb-5">

                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-black-50 rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                    <h1 >Create your athlete profile here</h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <form  method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                    {{ form|crispy }}

                      <button type="submit">Add</button>
                    </form>

                </div>
            </div>

        </div>
    </section>

    {% endblock %}