{% extends 'demo_base.html' %}
<!DOCTYPE html>
<style>
  #footer {
      position: fixed;
      padding: 10px 10px 0px 10px;
      bottom: 0;
      width: 100%;
      /* Height of the footer*/
      height: 40px;
      background: grey;
  }
</style>
{% block content %}
{% block title %}{{ settings.APP_NAME }}{% endblock %}

<h1>Your Athletes</h1>

<p>
<p>
{% if athlete_list %}
<ul>
  {% for athlete in athlete_list %}
    <li>
        <a href="{% url 'demo:athlete_detail' athlete.id %}">{{ athlete.username }}</a>

        (<a href="{% url 'demo:athlete_update' athlete.id %}">Edit</a> |
        <a href="{% url 'demo:athlete_delete' athlete.id %}">Delete</a>)


    </li>
  {% endfor %}
</ul>
{% else %}
  <p>There are no athletes in the database.</p>
{% endif %}
<div>
  <li>
    <p><a href="{% url 'demo:athlete_create' %}">Add an athlete</a></p>
<p>
  <a href="{% url 'demo:team_all' %}">Back to teams</a>
</p>
  </li>
</div>



{% endblock %}