{% extends 'demo_base.html' %}
<!DOCTYPE html>
{% block content %}
{% block title %}{{ settings.APP_NAME }}{% endblock %}

<h1>Your Coaches</h1>

<p>
<p>
{% if coach_list %}
<ul>
  {% for coach in coach_list %}
    <li>
        <a href="{% url 'demo:all_coaches'%}">{{ coach.username }}</a>

        (<a href="{% url 'demo:coach_update' coach.id %}">Edit</a> |
        <a href="{% url 'demo:coach_delete' coach.id %}">Delete</a>)


    </li>
  {% endfor %}
</ul>
{% else %}
  <p>There are no coaches in the database.</p>
{% endif %}
<div>
  <li>
    <p><a href="{% url 'demo:coach_create' %}">Add a coach</a></p>
<p>
  <a href="{% url 'demo:team_all' %}">Back to teams</a>
</p>
  </li>
</div>



{% endblock %}