{% extends 'demo_base.html' %}
<!DOCTYPE html>
{% block content %}
{% block title %}{{ settings.APP_NAME }}{% endblock %}
<section class="py-5" id="features">
  <div class="container px-5 my-5">
      <div class="row gx-5">
          <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Your Teams</h2></div>
        <div class = "container px-5 my-5">
          <div>
            <p><p>
              {% if team_list %}
              <ul>
                {% for team in team_list %}
                  <li>
                    {{ team.name }} ({{ team.athlete.name }})
              
                      (<a href="{% url 'demo:team_update' team.id %}">Edit</a> |
                      <a href="{% url 'demo:team_delete' team.id %}">Delete</a>)
                  </li>
                {% endfor %}
                  </ul>
                {% else %}
            <p>There are no teams in the database.</p>
                {% endif %}
          </div>
        </div>
            
            <div>
              <li>
                <p><a href="{% url 'demo:team_create' %}">Add a team</a></p>
                <p>
                    <a href="{% url 'demo:team_all' %}">Back to teams</a>
                </p>
              </li>
            </div>
          </div>
      </div>
  </div>
</section>

<section>
  


</section>






{% endblock %}