<!DOCTYPE html>
<html lang="en">
    {% extends 'coach_menu.html' %}
    {% load crispy_forms_tags %}

    {% block content %}
    <!-- Page content-->
    <section class="py-5">
        <div class="container px-5">
            <!-- Contact form-->
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-black rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                    <h1 class="fw-bolder text-black"> Athlete Home - Session List</h1>
                    <p class="lead fw-normal text-muted mb-0 text-black">#</p>
                </div>
                <div class="row gx-5 justify-content-center text-black">
                    <h2>Session List </h2>
                     <!-- List of uploaded documents -->
                        {% if documents %}
                        All documents in the database:
                        <ul>
                            {% for document in documents %}
                                <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No documents.</p>
                    {% endif %}
                    <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}

                      <button type="submit">Add</button>
                    </form>

                </div>
            </div>

        </div>
    </section>

    {% endblock %}